/* MEDIA QUERIES */

/* INDEX */

@media (max-width: 576px) {
    nav .logo {
        width: 50px;
        height: 50px;
    }

    .titulo {
        text-align: center;
    }

    footer {
        height: auto;
    }

    .main1__h1 {
        font-size: 1rem;
    }

    .main_index {
        margin: auto;
        text-align: justify;

    .p-main {
        width: 100%;
        height: auto;
        padding: 0;
        margin-left: 0!important;
    }
}
}

/*SERVICIOS*/ 
@media (max-width: 990px) {
    .card{
        margin-bottom: 50px;

    }
}

@media (max-width: 576px) {
    .card{
        margin-bottom: 30px;
    }
}
/*GALERIA*/

/* SOBRE MI  */

@media (max-width: 576px) { 
    .h2_sobremi {
        text-align: start;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

/* CONTACTO */

@media (max-width: 500px) {
    .input-form {
        width: 100%;
        justify-self: center;
    }

    .textarea-form {
        width: 100%;
    }
}